body{
	

}
.background{
	padding: 100px;
	text-align: center;
	background-image: url("images/b.jpeg");
	
	font-size: xxx-large;
	font-style: italic;
	background-size: cover;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;

}

	



.col1back{
	
	background-image: url("images/Greece.jpeg");
	background-size: 100%;
	background-size: cover;
	height: 250px;
	width: 390px;
	text-align: center;
	
	
	
	
}

.col2back{
	
	background-image: url("images/Cherry.jpeg");
	background-size: 100%;
	background-size: cover;
	height: 250px;
	width: 340px;
}

.col3back{
	
	background-image: url("images/Ocean.jpeg");
	padding-left: 2px;
	background-size: 100%;
	background-size: cover;
	height: 250px;
	width: 390px;
}


.column-left{
	
	
	float:left;
	width: 33.333%;
	text-align: justify;
	padding-right: 25px;
}
.column-center{
	
	text-align: justify;
	scroll-padding-left: 25px;
	width: 30.333%;
	float:left;
	

	

}
.column-right{
	float: right;
	width: 33.333%;
	text-align: justify;
	padding-left: 3px;
}
img{
	display:block;
	width: 80%%;
}

	
}

